body,
html {
  background: #FFF;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 420px;
}

.Container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 420px;
  padding: 40px;
  min-height: 495px;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.MapTitle {
 padding: 40px 0;
}
  .MapTitle h1 {
    margin-bottom: 16px;
    font: 26px/34px 'Montserrat';
    color: #2D3C43;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .MapTitle h2 {
    color: #747D82;
    font: 16px/22px 'Open Sans';
  }
  .MapTitle p {
    font: 300 10px/14px OpenSans;
    color: #747D82;
    letter-spacing: 0;
    margin-bottom: 16px;
    text-transform: uppercase;
  }
  .MapTitle p a {
    color: #1181FB;
  }
  .MapTitle a {
    text-decoration: none;
  }

.MapMetadata {
  position: relative;
  padding: 30px 0;
  font: 12px/36px 'Montserrat';
}
.MapMetadata:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 1px;
  content: '';
  background: #DDDDDD;
}



.MapMetadata dt {
  display: inline;
  margin: 0;
}

.MapMetadata dd a:hover {
  text-decoration: underline;
}


.MapMetadata dd {
  display: inline;
  margin: 0;
  text-transform: uppercase;
  color: #747D82;
  font: 12px/16px 'Open Sans';
}
  .MapMetadata dd:after {
    white-space: pre;
    content: '\A';
  }



.icon {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 49px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 50%;
  -webkit-transition: all .3s ease-in;
          transition: all .3s ease-in;
}
  .icon:hover {
    border: 2px solid rgba(255, 255, 255, .5);
  }
  .icon img {
    display: inline-block;
  }


.CDB-Button {
  position: relative;
  padding: 11px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  background: #1181FB;
  color: #fff;
  font: 600 12px/16px 'Open Sans';
  transition: background, 300ms;
}
.CDB-Button:hover {
  background: #0471e5;
}


.MapRelations {
  margin-right: 40px;
}
  .MapRelations li {
    display: inline-block;
    margin-left: -5px;
    vertical-align: middle;
  }
  .MapRelations li.ButtonInner {
    margin: 0 23px;
  }


.refresh {
  position: absolute;
  right: 40px;
  bottom: 40px;
}


.Actions {
  position: absolute;
  top: 40px;
  right: 0;
}

.ActionsInner {
  display: block;
  width: 40px;
  height: 40px;
  background: #30302f;
}




.CDB-Loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 3px;
  transform: translateX(-200%);
  background-image: linear-gradient(90deg, #1181FB 0%, #32BBFE 90%, #FAFEFF 95%);
  z-index: 2;
  animation: loader-progress 3s cubic-bezier(0, 0.85, 0.6, 0.6) infinite ;
}

@keyframes loader-progress{
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(200%);
  }
}

@media (max-height: 750px) {
  .MapTitle h1 span {
    font: 38px/43px 'Gotham Light';
  } 
}

@media (max-height: 645px) {
  .MapTitle h1 span {
    font: 34px/37px 'Gotham Light';
    -webkit-line-clamp: 2;
  } 
}
