body,
html {
  background: #F2F6F9;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 420px;
}

.Container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 420px;
  padding: 40px;
  min-height: 495px;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.MapTitle {
 padding: 40px 0;
}
  .MapTitle h1 span{
    margin-right: 40px;
    margin-bottom: 20px;
    font: 49px/52px 'Montserrat';
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .MapTitle p {
    font: 12px/18px 'Montserrat';
  }
  .MapTitle a {
    text-decoration: none;
  }
  .MapTitle a:hover {
    color: rgba(255, 255, 255, .8);
  }
  .MapTitle a:hover .MapTitle-tooltip {
    opacity: 1;
    transform: translateY(0);
  }

  .MapTitle-tooltip {
    background: rgba(0, 0, 0, .8);
    padding: 14px;
    border-radius: 4px;
    color: #fff;
    font: 12px/22px 'Montserrat';
    position: absolute;
    top: -60px;
    max-width: 250px;
    text-align: center;
    font-weight: bold;
    opacity: 0;
    transition: all .3s ease-out;
    transform: translateY(10px)
  }


  .MapTitle-tooltip:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: 8px solid rgba(0, 0, 0, .8);
    bottom: -16px;
    left: 50%;
    margin-left: -16px;
  }

.MapMetadata {
  position: relative;
  padding: 30px 0;
  margin: 30px 0;
  font: 12px/36px 'Montserrat';
}
.MapMetadata:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 1px;
  content: '';
  background: rgba(255, 255, 255, .2);
}
.MapMetadata:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 1px;
  content: '';
  background: rgba(255, 255, 255, .2);
}


.MapMetadata dt {
  display: inline;
  margin: 0;
}

.MapMetadata dd a {
  color: white;
}
.MapMetadata dd a:hover {
  text-decoration: underline;
}

.icon {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 49px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 50%;
  -webkit-transition: all .3s ease-in;
          transition: all .3s ease-in;
}
  .icon:hover {
    border: 2px solid rgba(255, 255, 255, .5);
  }
  .icon img {
    display: inline-block;
  }

.button {
  display: block;
  height: 40px;
  padding: 0 30px;
  font: 12px/40px 'Gotham Light';
  text-align: center;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 50px;
  -webkit-transition: all .3s ease-in;
          transition: all .3s ease-in;
}
  .button:hover {
    border: 2px solid rgba(255, 255, 255, .5);
  }

.MapRelations {
  margin-right: 40px;
}
  .MapRelations li {
    display: inline-block;
    margin-left: -5px;
    vertical-align: middle;
  }
  .MapRelations li.ButtonInner {
    margin: 0 23px;
  }

.MapMetadata dd {
  display: inline;
  margin: 0;
  text-transform: uppercase;
}
  .MapMetadata dd:after {
    white-space: pre;
    content: '\A';
  }

.refresh {
  position: absolute;
  right: 40px;
  bottom: 40px;
}


.Actions {
  position: absolute;
  top: 40px;
  right: 0;
}

.ActionsInner {
  display: block;
  width: 40px;
  height: 40px;
  background: #30302f;
}




.CDB-Loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 3px;
  transform: translateX(-200%);
  background-image: linear-gradient(90deg, #1181FB 0%, #32BBFE 90%, #FAFEFF 95%);
  z-index: 2;
  animation: loader-progress 3s cubic-bezier(0, 0.85, 0.6, 0.6) infinite ;
}

@keyframes loader-progress{
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(200%);
  }
}

@media (max-height: 750px) {
  .MapTitle h1 span {
    font: 38px/43px 'Gotham Light';
  } 
}

@media (max-height: 645px) {
  .MapTitle h1 span {
    font: 34px/37px 'Gotham Light';
    -webkit-line-clamp: 2;
  } 
}
