body {
  background: rgba(0, 0, 0, .9);
}

@font-face {
  src: url('fonts/Gotham-XLight.ttf')  format('truetype'); /* Legacy iOS */
  font-family: 'Gotham Light';
}

@font-face {
  src: url('fonts/Gotham-Medium.ttf')  format('truetype'); /* Legacy iOS */
  font-family: 'Gotham Medium';
}

strong {
  font-family: 'Gotham Medium';
}

body,
html {
  background: #30302f;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 400px;
  background: #30302f;
}

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  padding: 40px;
  color: #fff;
  background: #30302f;
  min-height: 495px;
}


.MapTitle {
  position: relative;
}

.MapTitle h1 span{
  margin-right: 40px;
  margin-bottom: 20px;
  font: 49px/52px 'Gotham Light';
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.MapTitle p {
  font: 12px/18px 'Gotham Light';
  color: #999;
}
.MapTitle a {
  color: #fff;
  text-decoration: none;
}
.MapTitle a:hover {
  color: rgba(255, 255, 255, .8);
}
.MapTitle a:hover .MapTitle-tooltip {
  opacity: 1;
  transform: translateY(0);
}



.MapTitle-tooltip {
  background: rgba(0, 0, 0, .8);
  padding: 14px;
  border-radius: 4px;
  color: #fff;
  font: 12px/22px 'Gotham Light';
  position: absolute;
  top: -60px;
  max-width: 250px;
  text-align: center;
  font-weight: bold;
  opacity: 0;
  transition: all .3s ease-out;
  transform: translateY(10px)
}


.MapTitle-tooltip:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, .8);
  bottom: -16px;
  left: 50%;
  margin-left: -16px;
}

.MapInfo {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
.MapMetadata {
  position: relative;
  padding: 30px 0;
  margin: 30px 0;
  font: 12px/36px 'Gotham Light';
}
.MapMetadata:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 1px;
  content: '';
  background: rgba(255, 255, 255, .2);
}
.MapMetadata:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 1px;
  content: '';
  background: rgba(255, 255, 255, .2);
}


.MapMetadata dt {
  display: inline;
  margin: 0;
}

.MapMetadata dd a {
  color: white;
}
.MapMetadata dd a:hover {
  text-decoration: underline;
}

.container .icon {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 49px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 50%;
  -webkit-transition: all .3s ease-in;
          transition: all .3s ease-in;
}
.container .icon:hover {
  border: 2px solid rgba(255, 255, 255, .5);
}
.container .icon img {
  display: inline-block;
}

.container .button {
  display: block;
  height: 40px;
  padding: 0 30px;
  font: 12px/40px 'Gotham Light';
  color: #fff;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 50px;
  -webkit-transition: all .3s ease-in;
          transition: all .3s ease-in;
}
.container .button:hover {
  border: 2px solid rgba(255, 255, 255, .5);
}

.MapRelations {
  margin-right: 40px;
}

.MapRelations li {
  display: inline-block;
  margin-left: -5px;
  vertical-align: middle;
}
.MapRelations li.ButtonInner {
  margin: 0 23px;
}
.MapMetadata dd {
  display: inline;
  margin: 0;
  text-transform: uppercase;
}

.MapMetadata dd:after {
  white-space: pre;
  content: '\A';
}

.refresh {
  position: absolute;
  right: 40px;
  bottom: 40px;
}


.Actions {
  position: absolute;
  top: 40px;
  right: 0;
}

.ActionsInner {
  display: block;
  width: 40px;
  height: 40px;
  background: #30302f;
}

.Loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 200px;
  margin: -50px 0 0 -100px;
  text-align: center;
}
.Spinner {
  display: inline-block;
  width: 100%;
  border-top: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-left: 2px solid #0090d7;
  -webkit-animation: load8 1.1s infinite linear;
     -moz-animation: load8 1.1s infinite linear;
      -ms-animation: load8 1.1s infinite linear;
       -o-animation: load8 1.1s infinite linear;
          animation: load8 1.1s infinite linear;

  -khtml-animation: load8 1.1s infinite linear;
}
.Spinner,
.Spinner:after {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.Loader-message {
  display: block;
  margin-top: 15px;
  font-family: 'Gotham Light';
  font-size: 18px;
  color: white;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);

    -khtml-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);

    -khtml-transform: rotate(360deg);
  }
}
@-moz-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);

    -khtml-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);

    -khtml-transform: rotate(360deg);
  }
}
@-ms-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);

    -khtml-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);

    -khtml-transform: rotate(360deg);
  }
}
@-o-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);

    -khtml-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);

    -khtml-transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);

    -khtml-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);

    -khtml-transform: rotate(360deg);
  }
}

@media (max-height: 750px) {
  .MapTitle h1 span {
    font: 38px/43px 'Gotham Light';
  } 
}

@media (max-height: 645px) {
  .MapTitle h1 span {
    font: 34px/37px 'Gotham Light';
    -webkit-line-clamp: 2;
  } 
}
